<div class="container"><!--bootstrap-->
  <div class="row">
    <div class="col-xs-12">
      <h3>AppComponent</h3>

      <hr>
      <app-servers></app-servers> <!-- 1. typical use -->
      <!--  <div app-servers></div>   2. selector를 attribute로 가져오기 : servers.component.ts >> selector: [app-servers]--> 
      <!-- <div class="app-servers"></div>  3. selector를 class로 가져오기: servers.component.ts >>  selector: '.app-servers', -->
    </div> 
  </div>
</div>


<!-- div 안에 두개의 app-server 컴포넌트가 생겨남을 알 수 있음 -->